.checkbox {
  position: relative;
  padding-left: 40px;
}

.checkbox::after,
.checkbox::before {
  content: "";
  position: absolute;
}

.checkbox::before {
  @include field-border(map-get($base-border, transparent));
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: $base__disabled;
}

.checkbox::after {
  top: 4px;
  left: 9px;
  width: 8px;
  height: 14px;
  border-bottom: 2px solid $Blue;
  border-right: 2px solid $Blue;
  transform: scale(0) rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

input:focus + .checkbox::before {
  @include field-border(map-get($base-border, fat));
  background-color: inherit;
}

input:checked + .checkbox::before {
  @include field-border(map-get($base-border, fat));
  background-color: inherit;
}

input:checked + .checkbox::after {
  transform: scale(1) rotate(45deg);
}
