body {
  font-family: $Roboto;
}

h1, h2, legend, button {
  font-family: $Roboto-Slab;
}

h2, .subheading, legend, button {
  font-size: $subheading__font-size;
  font-weight: 700;
}

.title {
  font-size: $title__font-size;
  font-weight: 700;
}

p, input, select, datalist, textarea {
  font-weight: 300;
}

p, label {
  line-height: $line-height;
}
