//================================================
//  TYPOGRAPHY
//================================================
$Roboto: Roboto, 'Helvetica Neue', Helvetica, Verdana, sans-serif;
$Roboto-Slab: "Roboto Slab", "Georgia", serif;

$base__font-size: 1em;
$heading__font-size: 2em;
$subheading__font-size: 1.5em;
$title__font-size: 1.25em;
$line-height: 1.5;



//================================================
//  COLORS
//================================================

$Treehouse-green: #5FCF80;
$Sea-green: #2F8247;
$Red: #FF4136;
$Gray: #AAAAAA;
$Silver: #DDDDDD;
$Navy: #001f3f;
$Blue: #0074D9;
$Aqua: #7FDBFF;
$Teal: #39CCCC;

$base__font-color: rgba(0,0,0,0.87);
$base__border-color: $Gray;



//================================================
//  BORDERS
//================================================

$invalid-thin: 1px solid $Red;
$invalid-fat: 2px solid $Red;
$valid-thin: 1px solid $Treehouse-green;
$valid-fat: 2px solid $Treehouse-green;
$base__input-border: 1px solid $Blue;
$fat__input-border: 2px solid $Blue;
$transparent__input-border: 2px solid transparent;

$base__border-radius: 3px;

$field-border: (
  top: none,
  right: none,
  bottom: $fat__input-border,
  left: none
);

$base-border: (
  transparent: (
    top: $transparent__input-border,
    right: $transparent__input-border,
    bottom: $transparent__input-border,
    left: $transparent__input-border
  ),
  thin: (
    top: $base__input-border,
    right: $base__input-border,
    bottom: $base__input-border,
    left: $base__input-border
  ),
  fat: (
    top: $fat__input-border,
    right: $fat__input-border,
    bottom: $fat__input-border,
    left: $fat__input-border
  )
);

$validation-border: (
  v-thin: (
    top: $valid-thin,
    right: $valid-thin,
    bottom: $valid-thin,
    left: $valid-thin
  ),
  v-fat: (
    top: $valid-fat,
    right: $valid-fat,
    bottom: $valid-fat,
    left: $valid-fat
  ),
  in-thin: (
    top: $invalid-thin,
    right: $invalid-thin,
    bottom: $invalid-thin,
    left: $invalid-thin
  ),
  in-fat: (
    top: $invalid-fat,
    right: $invalid-fat,
    bottom: $invalid-fat,
    left: $invalid-fat
  )
);

//================================================
//  SPACING
//================================================

$base__spacing: $base__font-size;
$mini__spacing: $base__spacing / 4;
$small__spacing: $base__spacing / 2;
$medium__spacing: $base__spacing * 1.5;
$large__spacing: $base__spacing * 2;
